openapi: 3.0.3
info:
  title: ThemeParks.wiki Destinations API
  description: An ever-growing database of real-time data for the world's best theme parks. Access live wait times, ride operational status, park schedules, and entity metadata for 75+ theme park destinations worldwide including Disney, Universal, Cedar Fair, Six Flags, and Merlin Entertainment parks. No authentication required.
  version: 1.0.0
  contact:
    url: https://themeparks.wiki/
  x-generated-from: documentation
servers:
- url: https://api.themeparks.wiki/v1
  description: Production API server
security: []
tags:
- name: Destinations
  description: Theme park resort destinations
paths:
  /destinations:
    get:
      operationId: getDestinations
      summary: ThemeParks.wiki Get All Destinations
      description: Get a list of all supported theme park destinations available on the live API. Returns destination metadata including associated parks.
      tags:
      - Destinations
      responses:
        '200':
          description: List of theme park destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationsResponse'
              examples:
                GetDestinations200Example:
                  summary: Default getDestinations 200 response
                  x-microcks-default: true
                  value:
                    destinations:
                    - id: 47f90d2c-e191-4e1a-a202-0da672270696
                      name: Walt Disney World Resort
                      slug: waltdisneyworldresort
                      externalId: WaltDisneyWorldResort
                      parks:
                      - id: 75ea578a-adc8-4116-a54d-dccb60765ef9
                        name: Magic Kingdom Park
                      - id: 1e7a4c8e-db38-4f4e-b0f1-9c28b2f1b4a6
                        name: EPCOT
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Park:
      type: object
      description: Theme park within a destination
      properties:
        id:
          type: string
          description: Unique park UUID
          example: 75ea578a-adc8-4116-a54d-dccb60765ef9
        name:
          type: string
          description: Park name
          example: Magic Kingdom Park
    Destination:
      type: object
      description: Theme park resort destination with multiple parks
      properties:
        id:
          type: string
          description: Unique destination UUID
          example: 47f90d2c-e191-4e1a-a202-0da672270696
        name:
          type: string
          description: Destination name
          example: Walt Disney World Resort
        slug:
          type: string
          description: URL-friendly identifier
          example: waltdisneyworldresort
        externalId:
          type: string
          description: External reference ID
          example: WaltDisneyWorldResort
        parks:
          type: array
          description: Parks within this destination
          items:
            $ref: '#/components/schemas/Park'
    DestinationsResponse:
      type: object
      description: Response containing list of all destinations
      properties:
        destinations:
          type: array
          description: Array of destination objects
          items:
            $ref: '#/components/schemas/Destination'
